---
title: "Contact | DNA Restoring Concrete"
description: "Contact DNA Restoring Concrete team for a free quote and a friendly smile."
permalink: "/contact/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
   
{% endblock %}

{% block body %}

<div id="banner-1106">
        <div class="cs-container">
            <span class="cs-int-title">Contact Us</span>
                <div class="cs-breadcrumbs">
                    <a href="/" class="cs-link">Home</a>
                    <a href="/contact/" class="cs-link cs-active">Contact</a>
                </div>
            </div>

            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 640, height: 896 }) | webp %}" type="image/webp">
                <!--Tablet Image-->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2048, height: 948 }) | webp %}" type="image/webp">
                <!--Desktop Image-->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2500, height: 617 }) | webp %}" type="image/webp">
                <img src="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2500, height: 617 }) | jpeg %}" alt="" width="1920" height="474" fetchpriority="high" decoding="async">
            </picture>
        </div>
    </div>
            

<section id="contact-1750">
    <div class="cs-container">
        <div class="cs-form-group">
            <div class="cs-content">
                <span class="cs-topper">Still need answers or a free quote?</span>
                <h1 class="cs-title">Contact DNA</h1>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-1750" name="Contact Form" method="post" data-netlify="true" netlify-honeypot="bot-field">
                <p style="display:none;">
                    <label>Don’t fill this out if you're human: 
                    <input name="bot-field" />
                    </label>
                </p>

                 <label class="cs-label">
                    First Name *
                    <input class="cs-input" required type="text" id="first-name-1750" name="first-name" placeholder="First name">
                </label>

                <label class="cs-label">
                    Last Name *
                    <input class="cs-input" required type="text" id="last-name-1750" name="last-name" placeholder="Last name">
                </label>

                <label class="cs-label cs-email">
                    Email *
                    <input class="cs-input" required type="email" id="email-1750" name="email" placeholder="name@email.com">
                </label>
                <label class="cs-label cs-phone">
                    Phone *
                    <input class="cs-input" required type="tel" id="phone-1750" name="phone" placeholder="(209) 555-1234">
                </label>

                <label class="cs-label">
                    How'd You Hear About us? *
                    <input class="cs-input" required type="text" id="referral-1750" name="referral" placeholder="Google, referral, etc.">
                </label>

                <label class="cs-label">
                    City*
                    <input class="cs-input" required type="text" id="city-1750" name="city" placeholder="Stockton">
                </label>

                <label class="cs-label">
                    Message *
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1750" placeholder="Hello, I am interested..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </form>
        </div>
        <!--Contact Info-->
        <div class="cs-info-group">
            <div class="cs-info">
                <span class="cs-topper">Location</span>
                <span class="cs-detail">                        
                    {{ client.address.lineOne }},
                    {{ client.address.lineTwo }}, 
                    {{ client.address.city }}, {{ client.address.state }}
                    {{ client.address.zip }}
                </span>
            </div>
            <div class="cs-info">
                <span class="cs-topper">Working Hours</span>
                <span class="cs-detail">Opening hours: Mon - Sat: 8:00am To 9:00pm</span>
                <span class="cs-detail">Sunday: Closed</span>
            </div>
            <div class="cs-info">
                <span class="cs-topper">Contact</span>
                <a href="tel:{{client.phoneForTel}}" class="cs-detail">Call us: {{client.phoneFormatted}}</a>
                <a href="mailto:{{client.email}}" class="cs-detail">Click To Email</a>
            </div>
        </div>

    <div class="cs-picture-group">
        <iframe class="cs-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4067.105250792108!2d-121.30266189999998!3d37.96415839999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80900de2fc1b6091%3A0x905799070aaa1f7!2sDNA%20Restoring%20Concrete%20Inc!5e1!3m2!1sen!2sca!4v1789926310561!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>


    {% include 'sections/cta.html' %}


{% endblock %}