/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1949 {
        padding: var(--sectionPadding);
        /* 160px - 220px - leaving extra space for the navigation */
        padding-top: clamp(10rem, 26.95vw, 15.75rem);
        padding-bottom: (100/16rem);
        position: relative;
        z-index: 1;

        .cs-flex {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            /* 60px - 180px */
            gap: clamp(3.75rem, 13vw, 11.25rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-topper {
            color: var(--secondary);

            &::before {
                content: url("/assets/svgs/logo-sm-alt.svg");
            }
        }

        .cs-title,
        .cs-text {
            margin-bottom: (20/16rem);
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 5vw, 3.8125rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: '';
                width: 100%;
                height: 100%;
                background: var(--headerColor);
                /* prevents the cursor from interacting with it */
                pointer-events: none;
                opacity: 0.80;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes the top of the image start at the top of the parent */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1949 {
        .cs-container {
            align-items: flex-start;
        }

        .cs-content {
            text-align: left;
            margin-left: 0;
            width: 50%;
            align-items: flex-start;
        }

        .cs-item {
            grid-column: span 3;
        }

        .cs-background {
            height: 100%;
        }
    }
}

/* Large Desktop Parallax Effect - 100px */
@media only screen and (min-width: 100rem) {
    #hero-1949 {
        .cs-background {
            background: url("/assets/images/hero.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            /* creates the parallax effect */
            background-attachment: fixed;
            img {
                display: none;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-1949 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-item {
                border-color: #fff;
            }

            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-background {
                background-color: #000;
                opacity: .17;

                &:before {
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 26%, rgba(0, 0, 0, 0.00) 70.26%);
                }
            }
        }
    }
}