/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-1693 {
        --sectionPadding: 3.75rem 1rem;
        padding: var(--sectionPadding);
        background-color: var(--headerColor);
        position: relative;
        overflow: hidden;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            gap: (24/16rem);
        }

        .cs-title {
            max-width: 30ch;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-size: clamp(1.625rem, 3vw, 2.3125rem);

            &::before {
                position: relative;
                top: -(4/16rem);
                content: url("/assets/svgs/logo-sm-alt.svg");
            }
        }

        .cs-wrapper {
            width: 100%;
            max-width: (1920/16rem);
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 1;
            /* prevents the mouse from interacting with it */
            pointer-events: none;
            transform: translateX(-50%);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cta-1693 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cta-1693 {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1202 {
        padding: var(--sectionPadding);
        background-color: var(--bodyTextColorWhite);

        .cs-container {
            max-width: (1280/16rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-flex-group {
            display: flex;
            flex-direction: column;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-content: center;
            gap: (16/16rem);
        }

        .cs-item {
            /* .cs-h3 and .cs-item-text both use text-align: inherit, so change the below to affect the whole item */
            text-align: left;
            list-style: none;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            /* 20px - 48px */
            padding: clamp(1.25rem, 2.2vw + 1rem, 3rem);
            padding-bottom: 0;
            background-color: transparent;
            border: 1px solid #BEB9B5;
            display: flex;
            flex-direction: column;

            &:nth-of-type(4) {
                .cs-h3 {
                    max-width: 14ch;
                }
            }

            .cs-item-text {
                margin-bottom: auto;
            }

            .cs-button-solid {
                margin-top: 1.5rem;
                width: 100%;
                position: relative;
                top: (8/16rem);
            }
        }

        .cs-picture {
            margin-bottom: (20/16rem);
            border-radius: 50%;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-text-group {
            margin: 0;
            padding: 0;
        }

        .cs-icon {
            width: (60/16rem);
            height: auto;
            display: block;
            transition: transform 0.5s;
        }

        .cs-title {
            color: var(--headerColor);
        }

        .cs-h3 {
            font-size: (25/16rem);
            max-width: 15ch;
            line-height: 1.2em;
            text-align: inherit;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: (12/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1202 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
        }

        .cs-title {
            margin: 0;
        }

        .cs-card-group {
            grid-template-columns: repeat(2, 1fr);
        }

        .cs-item {
            margin: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1202 {
        .cs-content,
        .cs-card-group {
            max-width: (1280/16rem);
        }

        .cs-title {
            max-width: (856/16rem);
        }

        .cs-card-group {
            grid-template-columns: repeat(3, 1fr);
        }

        .cs-item {
            max-width: none;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1202 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-h3,
            .cs-item-text,
            .cs-title {
                color: var(--bodyTextColorWhite);
            }

            .cs-item-text {
                opacity: 0.8;
            }
        }
    }
}

/* ---------------------------------- */
/*           Gallery                  */
/* ---------------------------------- */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-2235 {

        .cs-container {
            width: 100%;
            max-width: (1920/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (1280/16rem);
            gap: (32/16rem);
            padding: 0 1rem;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-flex-group {
            display: flex;
            flex-direction: column;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-indecator-group {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            flex-wrap: wrap;
        }

        .cs-number {
            color: var(--bodyTextColor);
            font-size: (18/16rem);
            position: relative;
            z-index: 1;
            padding: 0.25rem;

            &::after {
                position: absolute;
                z-index: 1;
                bottom: -0.25rem;
                left: 0;
                content: "";
                display: block;
                background-color: #BEB9B5;
                height: 3px;
                width: calc(100% + 0.25rem);
            }

            &.cs-active {
                color: var(--headerColor);
                font-weight: 700;

                &::after {
                    background-color: var(--secondary);
                }
            }
        }


        .cs-text {
            max-width: none;
        }

        .cs-wrapper {
            width: 100%;
            overflow: hidden;
        }

        .cs-slideshow {
            position: relative;
            transform-style: preserve-3d;
        }

        .cs-slide {
            width: 100%;
            /* 340px - 840px */
            height: clamp(21.25rem, 60vw, 52.5rem);
            margin: auto;
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            z-index: 100;
            transition: transform 0.3s, opacity 0.3s, z-index 0.3s;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            /* classes applied by the JS file */
            &.initial,
            &.active {
                opacity: 1;
                position: relative;
                z-index: 900;
            }

            &.prev,
            &.next {
                z-index: 800;
            }

            &.prev {
                transform: translateX(-100%);
            }

            &.next {
                transform: translateX(100%);
            }
        }

        .cs-slideshow-button {
            /* 36px - 80px */
            width: clamp(2.25rem, 6vw, 3.75rem);
            /* 36px - 80px */
            height: clamp(2.25rem, 6vw, 3.75rem);
            cursor: pointer;
            border: 1px solid #fff;
            opacity: 0.8;
            position: absolute;
            top: 50%;
            z-index: 1000;
            transform: translateY(-50%);
            transition: opacity 0.6s;

            &:hover {
                opacity: 1;
            }

            &::before {
                content: "";
                /* 20px - 64px */
                width: clamp(1.25rem, 2.8vw, 3rem);
                /* 20px - 64px */
                height: clamp(1.25rem, 2.8vw, 3rem);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.cs-slideshow-prev {
                left: (16/16rem);

                &::before {
                    background-image: url("/assets/svgs/right-arrow.svg");
                    transform: translate(-50%, -50%) scaleX(-1);
                }
            }

            &.cs-slideshow-next {
                right: (16/16rem);

                &::before {
                    background-image: url("/assets/svgs/right-arrow.svg");
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-2235 {
        .cs-title {
            max-width: 12ch;
        }

        .cs-text {
            max-width: (540/16rem);
        }

        .cs-flex-group {
            width: (540/16rem);
        }
    }
}

@media only screen and (min-width: 68rem) {
    #gallery-2235 {
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: (40/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-2235 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-number {
                color: var(--bodyTextColorWhite);

                &.cs-active {
                    color: var(--bodyTextColorWhite);
                    font-weight: 700;
                }
            }

            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }
        }
    }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-1230 {
        padding: var(--sectionPadding);
        background-color: var(--headerColor);
        position: relative;
        z-index: 1;

        .cs-container {
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (32/16rem);
        }

        .cs-flex {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            max-width: (650/16rem);
            width: 100%;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-title {
            max-width: 20ch;
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            opacity: 0.8;
            color: var(--bodyTextColorWhite);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);

            .cs-item {
                &:first-child {
                    grid-column: span 12;
                    width: 100%;
                    color: var(--secondary);
                    border: none;
                    padding: 0;

                    &::after {
                        display: none;
                    }

                    .cs-topper {
                        &::before {
                            content: "";
                            display: none;
                        }
                    }

                }
            }
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 16px - 40px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1rem, 1.8vw, 1.5rem) clamp(1rem, 2.5vw, 2rem);
            border-bottom: 3px solid transparent;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 1;
            gap: (12/16rem);
            /* clips cs-icon overflowing */
            overflow: hidden;
            grid-column: span 6;
            transition: border 0.6s;

            &::after {
                position: absolute;
                left: 0;
                bottom: 0;
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                border-bottom: 1px solid var(--bodyTextColor);
            }

            &:hover {
                border-bottom: 3px solid var(--secondary);

                &::after {
                    display: none;
                }

                .cs-h3 {
                    opacity: 1;
                    font-weight: 500;
                }
            }
        }

        .cs-h3 {
            /* 16px - 25px */
            font-size: clamp(1rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 400;
            width: 100%;
            margin: 0;
            color: var(--bodyTextColorWhite);
            /* wraps longer words on the smallest screen sizes */
            overflow-wrap: break-word;
            opacity: 0.8;
            transition-delay: 0.1s;
            transition: opacity 0.6s, font-weight 0.6s;
        }

        .cs-stat-group {
            width: 100%;
            margin: auto;
            padding: 0;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(12, 1fr);
            gap: (24/16rem);

        }

        .cs-topper {
            color: var(--secondary);

            &::before {
                content: url("/assets/svgs/logo-sm-alt.svg");
            }
        }

        .cs-stat {
            list-style: none;
            margin: 0;
            /* 16px - 40px */
            padding: clamp(1rem, 3vw, 2.5rem) (16/16rem);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: start;
            position: relative;
            grid-column: span 12;
            border: 1px solid var(--bodyTextColor);
        }

        .cs-desc {
            font-size: var(--bodyFontSize);
            font-weight: 700;
            line-height: 1.5em;
            text-align: left;
            width: auto;
            margin-bottom: (16/16rem);
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-number {
            /* 25px - 49px */
            font-size: clamp(1.5625rem, 3vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: var(--secondary);
            display: block;
            text-align: start;
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-1230 {
        .cs-stat-group,
        .cs-container {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .cs-stat-group {
            align-items: stretch;
        }

        .cs-card-group {
            display: grid;
            align-items: stretch;
        }

        .cs-stat,
        .cs-item {
            grid-column: span 6;
        }

    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-1230 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-content {
            gap: (64/16rem);
            flex-direction: row;
            align-items: center;
        }

        .cs-title,
        .cs-text {
            max-width: none;
        }

        .cs-card-group {
            width: 50%;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-stat-group {
            max-width: (1280/16rem);

            .cs-text {
                text-align: left;
            }
        }

        .cs-stat {
            grid-column: span 3;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #stats-1230 {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

/*-- -------------------------- -->
<---           Reviews          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-2327 {
        padding: var(--sectionPadding);
        padding-bottom: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);

            &:nth-child(2) {
                margin-top: 3.25rem;
                padding: var(--sectionPadding);
                padding-left: 0;
                padding-bottom: 0;
                padding-right: 0;
                gap: 0;

                .cs-text {
                    font-weight: 400;
                    max-width: (1280/16rem);
                    text-align: center;
                }
            }
        }

        .cs-logos {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            max-width: (1054/16rem);
            column-gap: (40/16rem);
        }

        .cs-logo {
            height: auto;
            width: 80%;
            max-width: (166/16rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: 0;
        }

        .cs-reviews-wrapper {
            display: flex;
            flex-direction: column;
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-flex {
            width: auto;
            display: inline-flex;
            justify-content: center;
            gap: (16/16rem);
            position: absolute;
            left: 0;
            bottom: (-72/16rem);
        }

        .cs-button {
            width: (48/16rem);
            height: (48/16rem);
            padding: (14/16rem);
            background-color: #f7f7f7;
            border: none;
            transition: background-color .3s;

            &:hover {
                cursor: pointer;
                background-color: var(--primary);

                .cs-button-arrow {
                    filter: grayscale(1) brightness(1000%);
                }
            }
        }

        .cs-prev {
            transform: scaleX(-1);
        }

        .cs-button-arrow {
            width: (20/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-family: var(--headerFontFamily);
            line-height: 1.2em;
            margin: 0 0 (8/16rem);
            color: var(--headerColor);
        }

        .cs-review {
            font-size: (16/16rem);
            font-weight: 400;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-wrapper {
            position: relative;
            z-index: 1;
            transition: opacity 0.3s;
        }

        .cs-active {
            opacity: 1;
        }

        .cs-hidden {
            position: absolute;
            opacity: 0;
        }

        .cs-flex-group {
            margin-top: (24/16rem);
            padding-top: (24/16rem);
            border-top: 1px solid #E7E7E8;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (16/16rem);
        }

        .cs-info {
            display: flex;
            flex-direction: column;
        }

        .cs-name {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (16/16rem);
            font-weight: 400;
            line-height: 1.5em;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-image-group {
            margin-top: (48/16rem);
            display: flex;
            gap: (8/16rem);
        }
    }
}

/* Tablet - 1024px */
@media only screen and (min-width: 48rem) {
    #reviews-2327 {
        .cs-container {
            width: 53vw;
            max-width: (846/16rem);

            &:nth-child(2) {
                margin-top: 0rem;
                width: 100%;
                padding-left: 1rem;
                padding-right: 1rem;
                max-width: (1280/16rem);
            }
        }

        .cs-wrapper {
            max-width: (739/16rem);
        }

        .cs-reviews-wrapper {
            flex-direction: row;
        }

        .cs-hidden {
            width: 80%;
        }

        .cs-flex {
            padding-bottom: (110/16rem);
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            left: auto;
            bottom: auto;
            z-index: 10;
        }

        .cs-h3,
        .cs-review {
            max-width: (739/16rem);
        }

        .cs-review {
            /* adjust as needed based on the tallets review, changes on desktop */
            min-height: (220/16rem);
        }

        .cs-image-group {
            margin: 0;
            /* allows the children of the parent container to act as though the parent doesnt exist and floats with all the elements outside the parent */
            display: contents;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #reviews-2327 {
        .cs-review {
            /* chnage based on the height of the tallest review */
            min-height: (100/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-2327 {
            .cs-title,
            .cs-review,
            .cs-h3,
            .cs-job,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-button {
                background-color: rgba(255, 255, 255, .2);

                &:hover {
                    background-color: var(--primary);
                }
            }

            .cs-button-arrow {
                filter: grayscale(1) brightness(1000%);
            }

            .cs-flex-group {
                border-color: rgba(255, 255, 255, 0.2);
            }

            .cs-review,
            .cs-job {
                opacity: 0.8;
            }
        }
    }
}

/*-- -------------------------- -->
<---           Blog             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #blog-1581 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (28/16rem);
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            grid-column: span 12;
            display: flex;
            flex-direction: column;
        }

        .cs-link {
            text-transform: uppercase;
            margin-top: auto;
            text-decoration: none;
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }
        }

        .cs-picture {
            width: 100%;
            min-height: (220/16rem);
            /* changes at tablet */
            max-height: (300/16rem);
            height: 100vw;
            /* 16px - 24px */
            margin: 0 0 clamp(1rem, 3vw, 1.5rem) 0;
            overflow: hidden;
            display: block;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform .6s, opacity .3s;
            }
        }

        .cs-flex {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 2;
            flex-grow: 1;
        }

        .cs-date {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            margin: 0 0 (40/16rem) 0;
            padding: (8/16rem) (16/16rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            background-color: #D1D3D4;
            color: var(--headerColor);
            display: inline-block;
            position: absolute;
            left: (16/16rem);
            bottom: 100%;
            z-index: 2;
        }

        .cs-h3 {
            /* 20px - 25px */
            max-width: 12ch;
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            color: var(--headerColor);
            /* 12px - 16px */
            margin: 0 0 clamp(.75rem, 2vw, 1rem) 0;
            transition: color .3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0 0 2rem 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #blog-1581 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .cs-title {
            margin: 0;
        }

        .cs-item {
            grid-column: span 6;
        }

        .cs-picture {
            min-height: (180/16rem);
            /* 180px - 284px */
            height: clamp(11.25rem, 23vw, 17.75rem);
            max-height: 100%;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #blog-1581 {
        .cs-item {
            grid-column: span 3;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #blog-1581 {
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: .8;
            }
        }
    }
}